*.local.*

# pixi environments
.pixi/*
!.pixi/config.toml
example/powertrain/tpe/.pixi

__pycache__/
*.pyc
*.pkl
*.joblib

.DS_Store
.vscode/
.mypy_cache/
.ipynb_checkpoints/

*.egg-info/

# results
example/powertrain/**/results
